body{
    text-align: center;
}

#container{
    color: deepskyblue;
    display: flex;
    justify-content: center;
    border: solid 1px black;
    width: 70%;
    margin: auto;
}

.post{
    font-family: 'Arial';
    padding: 2em;
    text-align: left;

}